* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover {
  color: #246caa;
}

.back {
  margin-bottom: 10px;
}

.container {
  background: #fff;
  width: 100%;
  min-height: 600px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 40px;
}

h1 {
  line-height: 1;
  margin-top: 0;
  margin-bottom: 30px;
}

.unit {
  width: 400px;
  margin-bottom: 30px;
  border: 1px solid #aaa;
}

.unit-header {
  background: #aaa;
  color: #fff;
  border-bottom: 1px solid #aaa;
}

.unit-selected .unit-header {
  background: #948ffc;
}

.unit-name,
.unit-count,
.unit-action,
.unit-description,
.unit-cost {
  padding: 10px 5px;
}

.unit-name,
.unit-count,
.unit-actions {
  display: inline-block;
}

.unit-count {
  font-weight: bold;
  color: #ccc;
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.unit-selected .unit-count {
  color: #555;
}

.unit-action {
  font-size: 13px;
  color: #555;
  text-decoration: underline;
}

.unit-action:hover {
  color: #333;
}

.unit-cancel {
  display: none;
}

.unit-selected .unit-cancel {
  display: inline;
}

.unit-description,
.unit-cost {
  font-size: 14px;
  color: #777;
}

.unit-cost {
  padding-top: 0;
  text-align: right;
  color: #aaa;
}

.unit-cost-value {
  font-weight: bold;
  color: #555;
}

.summary {
  width: 400px;
  margin-bottom: 30px;
  border: 1px solid #aaa;
}

.summary-header {
  background: #aaa;
  color: #fff;
  border-bottom: 1px solid #aaa;
}

.summary-active .summary-header {
  background: #948ffc;
}

.summary-title {
  display: inline-block;
  padding: 10px 5px;
}

.summary-unit,
.summary-total-cost {
  font-size: 14px;
  color: #aaa;
}

.summary-unit-name,
.summary-unit-cost,
.summary-unit-count {
  display: inline-block;
  padding: 5px 5px;
}

.summary-unit-selected .summary-unit-name,
.summary-unit-selected .summary-unit-cost-value,
.summary-unit-selected .summary-unit-count-value {
  color: #555;
}

.summary-unit-cost-value,
.summary-unit-count-value {
  font-weight: bold;
}


.summary-total-cost {
  padding: 10px 5px;
  padding-top: 0;
  text-align: right;
}

.summary-total-cost-value {
  font-weight: bold;
}

.summary-active .summary-total-cost-value {
  color: #555;
}
